.blog-posts {
    padding: 0;

    &--small {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

        @include responsive('md'){
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &--large {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.blog-post {
    border-radius: 1rem;
    list-style-type: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &--small {
        height: 25rem;

        .blog-post__image {
            display: inline-block;
            width: 100%;
            aspect-ratio: 2;

            img {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .blog-post__content {
            display: inline-block;
            height: 50%;
            padding: 1rem;
            overflow: hidden;
        }
    }

    &--large {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include responsive('md'){
            flex-direction: row;
        }

        .blog-post__image {
            display: inline-block;
            width: 100%;
            height: 50%;
            aspect-ratio: 3;
            width: 100%;

            @include responsive('md'){
                width: 30%;
                height: 100%;
                aspect-ratio: 1;
            }

            img {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;

                @include responsive('md'){
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 1rem;
                }
            }
        }

        .blog-post__content {
            padding: 1rem;
            flex-grow: 1;
            width: 100%;
            height: 50%;
            overflow: hidden;

            @include responsive('md'){
                padding: 2rem;
                width: 70%;
                height: 100%;
            }
        }
    }
}