.blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0;
}

.blog-post {
    border-radius: 1rem;
    list-style-type: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &--small {
        height: 25rem;
    }

    &__image {
        display: inline-block;
        width: 100%;
        aspect-ratio: 3 / 2;

        img {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__content {
        display: inline-block;
        height: 50%;
        padding: 1rem;
    }
}