.callout-section {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        gap: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__text {
        padding: 1rem;
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 1rem;

            &:last-of-type {
                margin: 0;
            }
        }
    }

    &__image {
        background-position: cover;
    }
}