.carousel-inner .carousel-item {
    height: 20rem; 
    position: relative; 

    @include responsive('md') {
        height: 40rem; 
    }
}

.carousel-inner .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Ensure the controls look correct against the new height */
.carousel-control-prev,
.carousel-control-next {
    height: 100%;
    width: auto;
}

.carousel-section {
    .container {
        display: flex;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    .style{
        &--carousel-bottom {
            flex-direction: column;
            flex: 1;

            .carousel-section__text {
                padding-bottom: 1rem;
            }
        }

        &--carousel-top {
            flex-direction: column-reverse;
            flex: 1;

            .carousel-section__text {
                padding-top: 1rem;
            }
        }
        
        &--carousel-right {
            flex-direction: column;
            flex: 1;

            .carousel-section__text {
                padding: 0;

                @include responsive('md') {
                    padding-right: 2rem;
                }
            }

            @include responsive('md') {
                flex-direction: row;

                .carousel-section__text {
                    flex-basis: 30%;
                }

                .carousel {
                    flex-basis: 70%;
                }
            }
        }

        &--carousel-left {
            flex-direction: column;
            flex: 1;

            .carousel-section__text {
                padding: 0;

                @include responsive('md') {
                    padding-left: 2rem;
                }
            }

            @include responsive('md') {
                flex-direction: row-reverse;

                .carousel-section__text {
                    flex-basis: 30%;
                }

                .carousel {
                    flex-basis: 70%;
                }
            }
        }
    }
}
