.content-section {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__content {
        padding: 1rem;
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 1rem;

            &:last-of-type {
                margin: 0;
            }
        }
    }

    &__image {
        background-position: cover;
    }
}