.content-section {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__text {
        padding: 1rem;
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 1rem;

            &:last-of-type {
                margin: 0;
            }
        }
    }

    &__image {
        background-position: cover;
    }

    .style{
        &--media-bottom {
            flex-direction: column;
        }

        &--media-top {
            flex-direction: column-reverse;
        }
        
        &--media-right {
            flex-direction: row;
        }

        &--media-left {
            flex-direction: row-reverse;
        }
    }
}