.form-section {
    height: 100%;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__text {
        padding: 1rem;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 1rem;

            &:last-of-type {
                margin: 0;
            }
        }
    }

    &__form {
        flex-basis: 50%;
    }

    &__image {
        background-position: cover;
    }

    .style{
        &--form-bottom {
            flex-direction: column;
            .form-section__content {
                text-align: center;
            }
        }

        &--form-top {
            flex-direction: column-reverse;
            .form-section__content {
                text-align: center;
            }
        }
        
        &--form-right {
            flex-direction: row;
            align-items: flex-start;
        }

        &--form-left {
            flex-direction: row-reverse;
            align-items: flex-start;
        }
    }
}