.icon-list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include responsive('md'){
        grid-template-columns: repeat(4, 1fr);
    }
}

.icon-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;

    &__icon {
        height: 10rem;
        width: 10rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        padding: 1rem 0 0 0;
    }
}