.image-gallery {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    &__item {
        list-style-type: none;
        transition: filter 0.3s ease;
        
        &:hover {
            filter: brightness(0.8);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}