// Ul container
.team-members {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include responsive('md'){
        grid-template-columns: repeat(3, 1fr);
    }
}

// Card (li)
.team-member {
    list-style-type: none;
    background-color: white;
    border-radius: 1rem;
    width: 100%;

    &__image {
        height: 20rem;

        img {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        padding: 1rem;
    }
}