.testimonials-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonials {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include responsive('md'){
        grid-template-columns: repeat(3, 1fr);
    }
}

.testimonial {
    list-style-type: none;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}