.video-gallery {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    &__item {
        list-style-type: none;

        .video-thumbnail {
            height: 30rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}