.video-gallery-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.video-gallery {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include responsive('md'){
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        list-style-type: none;

        .video-thumbnail {
            height: 30rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}