// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

// Colors
$blue: #0b50bd;
$grey: #c5c6c7;
$light-grey: #e6e6e6;

// Screen size variables
$mobile-portrait: 390px;
$mobile-landscape: 667px;
$tablet: 768px;
$desktop: 992px;
$desktop-wide: 1280px;