/*!
 * Bootscore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/* Custom container width */
.container {
    max-width: 1280px; /* override Bootstrap default */
}

.site-header {
    z-index: 99;
}

/* Accessibility */
.screen-reader-text, .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}