.btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    width: max-content;

    &__icon {
        height: 1rem;
        width: 1rem;
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    &--primary {
        background-color: $blue;
        color: white;
    }

    &:hover {
        filter: brightness(0.8);
    }

    &:focus {
        text-decoration: underline;
    }
}