.categories {
    padding-top: 2rem;

    &__list {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    &__item {
        list-style-type: none;
        padding: 0 0.5rem;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}