.categories {
    padding-top: 2rem;

    &__list {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    &__item {
        list-style-type: none;
        background-color: $light-grey;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        margin: 0 0.5rem;

        a {
            text-decoration: none;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &.current-category {
            a {
                text-decoration: underline;
            }
        }
    }
}