.hero-banner {
    position: relative;
    overflow: hidden;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .container {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive('md') {
            justify-content: flex-start;
        }
    }

    &.style {
        &--secondary {
            min-height: 40rem;

            .hero-banner__text{
                width: max-content;
                background: rgba(39, 24, 24, 0.5);
                padding: 3rem;
            }
        }

        &--tertiary {
            min-height: 20rem;

            @include responsive('md') {
                min-height: 50rem;
            }

            .hero-banner__text{
                width: max-content;
                background: rgba(39, 24, 24, 0.5);
                padding: 3rem;
            }
        }
    }

    &__header {
        font-size: 3rem;

        @include responsive('md') {
            font-size: 4rem;
        }

        @include responsive('lg') {
            font-size: 5rem;
        }
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;

        video[poster] {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 1rem;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}