.hero-banner {
    position: relative;
    overflow: hidden;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .container {
        z-index: 2;
    }

    &.style {
        &--secondary {
            min-height: 40rem;
        }

        &--tertiary {
            min-height: 50rem;
        }
    }

    &__header {
        font-size: 5rem;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;

        video[poster] {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 1rem;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}