.hero-banner {
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    &.style {
        &--secondary {
            min-height: 40rem;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 1rem;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}