.hero-banner {
    position: relative;
    overflow: hidden;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .container {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive('md') {
            justify-content: flex-start;
        }
    }

    &.style {
        &--secondary {
            min-height: 40rem;
            padding: 0;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .hero-banner__text{
                width: max-content;
                background: rgba(39, 24, 24, 0.5);
                padding: 3rem;
            }
        }

        &--tertiary {
            min-height: 20rem;

            @include responsive('md') {
                min-height: 50rem;
            }

            .hero-banner__text{
                width: max-content;
                background: rgba(39, 24, 24, 0.5);
                padding: 3rem;
            }
        }
    }

    &__header {
        font-size: 3rem;

        @include responsive('md') {
            font-size: 4rem;
        }

        @include responsive('lg') {
            font-size: 5rem;
        }
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;

        video[poster] {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        .btn {
            margin-right: 1rem;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

.post-hero-banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    @include responsive('xl') {
        flex-direction: row;
        height: 30rem;
    }

    &__image {
        flex-basis: 100%;
        object-fit: cover;
        height: 20rem;
        width: 100%;

        @include responsive('xl') {
            width: 50%;
            flex-basis: 50%;
            height: 100%;
        }
    }

    &__info {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        width: 100%;

        @include responsive('xl') {
            width: 50%;
            padding: 4rem;
            flex-basis: 50%;
        }
    }

    &__meta {
        background-color: $grey;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
    }
}