.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    .page-numbers {
        font-size: 1.5rem;
        padding: 0 1rem;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}