.video-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        object-fit: cover;
        filter: brightness(0.5);
    }

    button {
        position: absolute;
        z-index: 2;
        padding: 0.5rem 1rem;
        border: 2px solid white;
        border-radius: 0.5rem;
        background-color: rgba(0,0,0,0);
        color: white;
        transform: scale(1);
        transition: transform 0.2s;

        &:hover {
            transform: scale(0.9);
        }
    }
}